*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c0c0c035;
  font-family: -apple-system, system-ui, 'BlinkMacSystemFont', 'Segoe UI',
    'Roboto', 'Helvetica Neue', Arial, sans-serif;
  height: max-content;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  font-size: 62.5%;
}

.carousel .carousel-status {
  display: none !important;
}

/* .MuiInputBase-input::placeholder {
  font-size: 11px;
}

.MuiInputBase-input,
.MuiInputLabel-outlined,
.MuiFormLabel-root.Mui-focused {
  font-size: 11px !important;
} */

.test-label {
  color: red;
}
